[submodule "Jank/vendor/spdlog"]
	path = Jank/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Jank/vendor/GLFW"]
	path = Jank/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Jank/vendor/ImGui"]
	path = Jank/vendor/ImGui
	url = https://github.com/TheCherno/ImGui
[submodule "Jank/vendor/glm"]
	path = Jank/vendor/glm
	url = https://github.com/g-truc/glm
